.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
}

.tooltip {
	margin-top: 10px;
}

.tooltip_type {
	margin-top: -15px;
}

.tooltip_teg {
	margin-top: 27px;
}

.typeLevelWrapper {
	width: 100%;
}
