.searchRow {
	grid-template-columns:
		minmax(300px, 1fr)
		minmax(170px, 0.7fr)
		minmax(170px, 0.7fr);

	@media (max-width: 1200px) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

.objectTable {
	grid-template-columns:
		minmax(200px, 1.1fr)
		minmax(60px, 0.2fr)
		minmax(130px, 0.6fr)
		minmax(130px, 0.6fr)
		minmax(30px, 0.2fr)
		minmax(30px, 0.2fr);

	td {
		border-bottom: 1px solid rgb(225 225 225 / 1);
	}

	.priorityBox {
		width: 50px;
		height: 27px;
		border-radius: 3px;
		font-size: 14px;
		border: 1px solid #afafaf;
		text-align: center;
		margin-left: 22px;
	}
}
