.searchRow {
	grid-template-columns:
		minmax(300px, 1fr)
		minmax(170px, 0.7fr)
		minmax(170px, 0.7fr);

	@media (max-width: 1200px) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

.objectTable {
	grid-template-columns:
		minmax(360px, 2.2fr)
		minmax(150px, 1.1fr)
		minmax(270px, 1.3fr)
		minmax(100px, 0.6fr)
		minmax(100px, 0.6fr)
		minmax(50px, 0.2fr);

	tr:last-child {
		td {
			border-bottom: 1px solid #f5f5f5;
			margin-bottom: 30px;
		}
	}

	.priorityBox {
		width: 50px;
		height: 27px;
		border-radius: 3px;
		font-size: 14px;
		border: 1px solid #afafaf;
		text-align: center;
		margin-left: 22px;
	}
}
