.checkBoxWrapper {
  display: flex;
  align-items: center;
  label {
    cursor: pointer;
    border: 1px solid #868686;
    border-radius: 3px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    &._active {
      border: 1px solid #184F71;
      background: #184F71;
    }
    &._disabled {
      pointer-events: none;
    }
  }
  input {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }
}