.mainSectionInner {
	max-width: 79.4%;
	@media (max-width: 1024px) {
		max-width: 100%;
	}
}
.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.mainDescrTooltip {
	margin-top: -65px;
}

.descListTooltip {
	margin-top: -200px;
}
