.promoModal {
  :global {
    .modal-header {
      background: #ffffff;
      border-bottom: 1px solid #E1E1E1;
      button svg rect {
        fill: #000000;
        stroke: #000000;
      }
    }
  }
}