.lowsListItem {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  .lawsLinkRow {
    @media (max-width: 1440px) {
      grid-template: repeat(2, 1fr) / 1fr 1fr 40px;
      button {
        justify-self: start;
      }
    }
    @media (max-width: 768px) {
      button {
        justify-self: center;
      }
    }
  }
}

