.mapControllers {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.loadedMap {
  width: 100%;
  height: 310px;
  border-radius: 3px;
  border: 1px solid #AFAFAF;
  position: relative;
  background: #F5F7FA;
  z-index: 0;
  &::before {
    content: 'Как выглядит загруженная карта';
    font-size: 14px;
    color: #868686;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  iframe {
    border: none;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}